* {
	padding: 0;
	margin-bottom: 0;
	box-sizing: border-box;
}

body {
	background-color: #CCCCCC;

}

.carousel-container {
	width: 60%;
	margin: auto;
	border: 5px solid black;
	overflow: hidden;
	position: relative;
}

.carousel-slide {
	display: flex;
	width: 100%;
	height: 500px;
}

#prevBtn {
	position: absolute;
	top: 50%;
	z-index: 10;
	left: 5%;
	font-size: 30px;
	color: white;
	opacity: 0.7;
	cursor: pointer;
}

#nextBtn {
	position: absolute;
	top: 50%;
	z-index: 10;
	right: 5%;
	font-size: 30px;
	color: white;
	opacity: 0.7;
	cursor: pointer;
}

h2 {
	text-align: center;
	font-family: Jazz LET, fantasy;
	font-size: 40px;
}